.dropdown-menu{
  border: none;
}
.main-container{
  background: rgb(195,34,164);
  background: linear-gradient(0deg, rgba(195,34,164,1) 0%, rgba(45,234,253,1) 100%);
  background-attachment: scroll;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  text-align: center;
}
p{
  text-align: center;
}
.round-edge{
  border-radius: 15px;
}
.btn{
  color: white;
  background: linear-gradient(to right, rgba(195,34,164,1) 0%, rgba(45,234,253,1) 100%);
}
.footer{
  color: white;
  text-align: center;
  background: rgb(195,34,164);
  background: linear-gradient(to right, rgba(195,34,164,1) 0%, rgba(45,234,253,1) 100%);
}
body{
  background-color: #EDEDED;
}
